
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="modal" id="Modal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Açıklama</h2>
            </div>
            <form>
                <div class="modal-body">
                    <p>Bu Proje 2023 Yılında Kamil Tunçok Tarafından Yapılmıştır</p>
                </div>
            </form>
        </div>
    </div>
</div>


